.version.index /* version checker */
{
	color: #000007;
	background-color: #00F23F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 825px;
	background-image: none;
	border-style: none;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 276px;
	width: 0.01px;
}

#u245
{
	z-index: 4;
	width: 244px;
	height: 43px;
	margin-left: 358px;
	position: relative;
	background: transparent url("https://i.imgur.com/sDL61LG.jpg") no-repeat left top;
	background-size: contain;
}

#u245:hover
{
	width: 244px;
	height: 43px;
	min-height: 0px;
	margin: 0px 0px 0px 358px;
	background: transparent url("https://i.imgur.com/7XrEtfb.jpg") no-repeat left top;
	background-size: contain;
}

#u173
{
	z-index: 5;
	width: 244px;
	height: 43px;
	margin-left: 358px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("https://i.imgur.com/9OfiKhf.jpg") no-repeat left top;
	background-size: contain;
}

#u173:hover
{
	width: 244px;
	height: 43px;
	min-height: 0px;
	margin: 0px 0px -1px 358px;
	background: transparent url("https://i.imgur.com/ptCEEmp.jpg") no-repeat left top;
	background-size: contain;
}

#u233
{
	z-index: 6;
	width: 244px;
	height: 43px;
	margin-left: 358px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("https://i.imgur.com/rl2LnZi.jpg") no-repeat left top;
	background-size: contain;
}

#u233:hover
{
	width: 244px;
	height: 43px;
	min-height: 0px;
	margin: 0px 0px -1px 358px;
	background: transparent url("https://i.imgur.com/Z8a4hOu.jpg") no-repeat left top;
	background-size: contain;
}

#u194
{
	z-index: 2;
	width: 450px;
	background-color: transparent;
	margin-left: 620px;
	top: -95px;
	margin-bottom: -95px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

